@import url('http://getbootstrap.com/dist/css/bootstrap.css');

body {
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  background-color: #eaeaea;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', sans-serif;
  font-weight: 300;
}

.br-container {
  width: 80%;
}


/*   navigation   */

.navbar-wrapper {
    position:absolute;
    top: 0;
    z-index: 20;
}
.navbar {
    top: 0;
    z-index: 10;
    background: transparent;
}
.br-nav li {
  display: inline-block;
}
.logo {
  position:absolute;
  top: 20px;
  left: 20px;
  width: 16.66%;
  z-index: 10;
}
.logo img {
  width: 100%;
}
.navbar li a {
  color: white;
}
.navbar li a:hover {
  opacity: 0.5;
}



/*   br-heading   */

.br-heading {
  padding: 36px;

}



/*   br-card   */

div.br-card {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 2px 2px rgba(0,0,0,.25);
  z-index: 100;
}

.br-image img, .card-footer, .card-text {
  width: 100%;
}

.card-text {
	width: 100%:;
	color: #ff815b;
  background: #fff;
  padding: 15px;
}

.card-footer {
  line-height: 33.333%;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  font-size: 1.3em;
}

.stories {
  color: #c4c4c4;
  text-align: left;
  float: left;
}

.ratings {
  color: #c4c4c4;
  text-align: right;
  float: right; 
}

.ratings i {
  padding-right: 5px;
  margin-top: -7px;
}

.stories i {
  padding-left: 5px;
  margin-top: -7px;
}

.card-pic {
  border-radius: 15px 15px 0 0;
}






/*   Carousel Bootstrap   */
 
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/*   Carousel changes  */


.item img {
  width: 100%;
}

.carousel {
    position: relative;
    top: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.carousel-caption {
  text-shadow: none;
  margin-bottom: 20px
}


.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #b8bdc3;
  opacity: .9;
  border: 0;
}

.carousel-indicators li.active {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ff815b;
  opacity: 1;
}

.carousel-control {
  opacity: 1;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-indicators li, .carousel-indicators li.active  {
  margin: 5px;
}




/*   media queries   */

@media (max-width: 992px) {
  .br-container {
    width: 95%;
  }
}
